@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px 24px 160px 24px;
}

[data-theme="dark"] body{
    background-color: #1F487E;
    color: #F1EDEE;
}

.spacer {
    visibility: hidden;
}

.projects {
    padding-top: 12rem;
    padding-bottom: 1rem;
}

.scroll {
    padding-top: 7.5rem;
}

.profile-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.intro-text {
    letter-spacing: 4px;
}

.section-headers {
    line-height: 1.5;
}

.project-images {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.pic-container {
    margin-right: -80px;
}

h1 {
    letter-spacing: 3px;
}

.accolades {
    /* color: #93B7BE; */
    text-decoration: none;
}

.projects-text {
    margin-top: -1rem;
    margin-bottom: -1rem;
    text-align: center;
}

.socials {
    color: inherit;
    text-decoration: none;

    transition: color 0.1s ease;
    
    &:hover {
        color: #93B7BE;
        transition-delay: 0.1s ease;
    }
}

.mobile-stack-icons {
    height: 40px;
    width: 40px;
}

.project-stack-icons {
    height: 25px;
    width: 25px;
}

.tailwind-icon {
    height: 75px;
    width: 75px;
    display: inline;
    margin-left: 4px;
}

.next-icon {
    height: 35px;
    width: 35px;
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}
/*email modal*/
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.modal-form {
 max-width: 400px;
 margin: 0 auto;
 padding: 20px;
 background-color: #f5f5f5;
 border-radius: 8px;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-form label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: #376996;
    letter-spacing: 1px;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form input[type="subject"],
.modal-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus,
.modal-form input[type="subject"]:focus,
.modal-form textarea:focus {
    border-color: #93B7BE;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modal-form textarea {
    resize: vertical;
}

.toast-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    z-index: 1000;
}

.toast-overlay.show {
    display: flex;
}

.email-toast {
    width: 300px;
    max-width: 80%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 25px;
}

#custom-toast {
    border-color: #28a745; 
    border-radius: 35px;
}

.email-toast.show {
    opacity: 1;
}

.email-toast .toast-body {
    color: white;
    border-radius: 25px;
}

.email-toast.show .toast-body {
    opacity: 1;
}

.email-toast.show .toast-body {
    transition: opacity 0.5s, background-color 0.5s, color 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*accolades*/
.accolades-container {
    margin: 0;
    padding-bottom: 50px;
    height: 100vh;
    display: grid;
    place-items: center;
}

.card-group,
.card {
    
}

.card-group,
.big-card {
    width: 75vmin;
}

.card {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}

.big-card {
    width: 75vmin;
    border-radius: 1vmin;
    aspect-ratio: 8 / 5;
}

.desc-card {
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}

.little-card {
    width: 18vmin;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}

.big-card:nth-child(5) {
    transform: translateX(40%) rotate(-3deg);
}

.big-card:nth-child(6) {
    transform: translateX(-40%) rotate(3deg);
}

.card-group:hover > .big-card:nth-child(5) {
    transform: translate(-35%) rotate(-15deg);
}

.card-group:hover > .big-card:nth-child(7) {
    transform: translate(35%) rotate(15deg);
}

.card-group:hover > .desc-card:nth-child(6) {
    transform: translate(0, 75%)
}

.card-group:hover > .little-card:nth-child(1) {
    transform: translate(10%, 150%);
}

.card-group:hover > .little-card:nth-child(2) {
    transform: translate(-275%, 150%);
}

.card-group:hover > .little-card:nth-child(3) {
    transform: translate(-130%, 150%);
}

.card-group:hover > .little-card:nth-child(4) {
    transform: translate(150%, 150%);
}

/*streak*/

/*fade*/

.fade-in-pic {
    animation: fade-in 1s ease-in-out;
}

.fade-in-header {
    animation: fade-in 1.5s ease-in-out;
}

.fade-in-text {
    animation: fade-in 2s ease-in-out;
}

.fade-in-socials {
    animation: fade-in 2s ease-in-out;
}

/*mobile*/
@media (max-width: 768px) {
    .modal-form {
        max-width: 100%;
    }
    .main {
        justify-content: start;
    }
}

/*5:48*/