@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
}

.profile-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    /* border: #376996 8px solid; */
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.socials {
    transition: color 0.1s ease;
    
    &:hover {
        color: '#93B7BE';
        transition-delay: 0.1s ease;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-pic {
    animation: fade-in 1s ease-in-out;
}

.fade-in-header {
    animation: fade-in 2s ease-in-out;
}

.fade-in-text {
    animation: fade-in 3s ease-in-out;
}

.fade-in-socials {
    animation: fade-in 3s ease-in-out;
}

/*tailwind stylings*/
/* .head_text {
    @apply mt-5 text-2xl leading-[1.15] text-black sm:text-6xl;
  }
   */